.container {
  padding: 24px;
  min-width: 1240px;
  overflow: hidden;
}
.unitPriceTitle {
  padding-left: 12px;
}

.unitPrice {
  padding: 5px 12px;
  cursor: pointer;
}

.row:hover .unitPrice {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.unitPriceInput {
  min-width: 100%;
}